/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    text-align: center;
    margin: 0;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.content {
    margin-left: 75px;
    font-size: 30px;
}

:root {
    --mainWhite: white;
    --mainBlue-gli: #14365E;
    --mainRed-gli: #63071B;
}

p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

header {
    font-size: 25px;
    font-weight: bold;
}

video {
    box-shadow: 5px 10px 8px 10px #888888;
}


hr {
    border: thin solid black;
    margin-top: 50px;
    margin-bottom: 50px;
}

ul {
    text-align: center;
}

li {
    list-style: none;
}

/* Create two equal columns that floats next to each other */
.column50 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
    .column50 {
        width: 100%;
        height: fit-content;
    }
}

.gli-logo {
    background-color: white;
    width: 200px;
    padding: 15px;
    border: #14365E solid 2px;
}

.contactUs-container {
    margin-bottom: 50px;
}

/* Button  Global*/
.btn {
    background-color: var(--mainBlue-gli);
    color: white;
}

.onAbout {
    margin: 50px;
}

.list {
    margin: 50px;
}

.navbar-header {
    background-color: var(--mainBlue-gli);
}

/*----------------------------------- Nav Bar -------------------------*/
.nav-main {
    position: fixed;
    top: 0;
    width: 100%;
}

.navLink {
    font-size: 20px;
    margin-top: 15px;
    margin-right: 0;
}

#navLink {
    margin-top: 15px;
    font-size: 26px;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    background-color: var(--mainBlue-gli);
    border-color: var(--mainBlue-gli);
}

/*------------------Intro Video--------------------- */
.introVideo {
    padding: 2%;
    width: 100%;
    height: auto;
}

.memberSign {
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
    margin: 10px;
}

.members {
    text-decoration: none;
    color: var(--mainRed-gli);
    margin: 15px;
}

.memberCentence {
    color: var(--mainBlue-gli);
    font-size: 50px;
}

.eventDiscription {
    margin-top: x;
    padding: 50px;
}

/* -------------Paragraph about the services to be offered. --------------*/
.howWeHelp {
    width: auto;
    margin: 20px;
}

.col {

    margin-top: 50px;
    float: left;
    width: auto;
    padding: 10px;
    margin-bottom: 30px;
}

.logo-col3 {
    width: 33%;
    float: left;
}

.bLogo columLogo2 {
    width: 100%;
    margin-top: 20px;
}

.bLogo-OPG {
    margin: auto;
    width: 300px;
    padding-top: 25px;
}

.bLogo-uoit {
    margin: auto;
    width: 300px;
}



.infoFollow1 {
    display: none;
}

.infoFollow2 {
    display: none;
}

.infoFollow3 {
    display: none;
}

.infoFollow4 {
    display: none;
}

/* --------------For the ICONS of the our partners and customers-------- */
/* Container for flexboxes */
.row {
    display: flex;
    margin: auto;
    padding: 10px;
    flex-wrap: wrap;
}

/* Create four equal columns */
.column {
    flex: 25%;
    padding: 20px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .col {
        flex: 50%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}



/* Container for flexboxes */
.rowLogo3 {
    display: flex;
    flex-wrap: wrap;
}

/* Create four equal columns */
.columnLogo3 {
    flex: 33%;
    padding: 20px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .columLogo3 {
        flex: 50%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .rowLogo3 {
        flex-direction: column;
    }
}

.rowLogo3 {
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

}

/* Container for flexboxes */
.rowLogo2 {
    display: flex;
    flex-wrap: wrap;
}

/* Create four equal columns */
.columnLogo2 {
    flex: 25%;
    padding: 20px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .columLogo2 {
        flex: 50%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .rowLogo2 {
        flex-direction: column;
    }
}

/* -------------------TypeWriter script-------------------- */
.typeWriterContainer {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typeWriterContainer p {
    font-size: 50px;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    color: var(--mainRed-gli);
}

.typeWriterContainer p span.typed-text {
    font-weight: normal;
    color: var(--mainBlue-gli);
}

.typeWriterContainer p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.typeWriterContainer p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}

#contactUs {
    margin-top: 20px;
    font-size: 24px;

}

.contactUs {
    margin: auto;
    width: 80%;
    text-align: center;
    margin-bottom: 50px;
}

/* ------------------------------Social Icons--------------------------- */
.socialMediaIcons {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: auto;
}

/* ----------------------------Footer----------------------------------- */
.footer {
    height: fit-content;
    background-color: var(--mainRed-gli);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.footer-columnLogo3 {
    width: 33%;
    float: left;
    list-style: none;
}